In [139]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [140]:
df = pd.read_csv("articles_data.csv", index_col='index')

In [141]:
df

,source_id,source_name,author,title,description,url,url_to_image,published_at,content,top_article,engagement_reaction_count,engagement_comment_count,engagement_share_count,engagement_comment_plugin_count
index,,,,,,,,,,,,,,
0,reuters,Reuters,Reuters Editorial,NTSB says Autopilot engaged in 2018 California...,The National Transportation Safety Board said ...,https://www.reuters.com/article/us-tesla-crash...,https://s4.reutersmedia.net/resources/r/?m=02&...,2019-09-03T16:22:20Z,WASHINGTON (Reuters) - The National Transporta...,0.0,0.0,0.0,2528.0,0.0
1,the-irish-times,The Irish Times,Eoin Burke-Kennedy,Unemployment falls to post-crash low of 5.2%,Latest monthly figures reflect continued growt...,https://www.irishtimes.com/business/economy/un...,https://www.irishtimes.com/image-creator/?id=1...,2019-09-03T10:32:28Z,The States jobless rate fell to 5.2 per cent l...,0.0,6.0,10.0,2.0,0.0
2,the-irish-times,The Irish Times,Deirdre McQuillan,"Louise Kennedy AW2019: Long coats, sparkling t...",Autumn-winter collection features designerâ€™s g...,https://www.irishtimes.com/life-and-style/fash...,https://www.irishtimes.com/image-creator/?id=1...,2019-09-03T14:40:00Z,Louise Kennedy is showing off her autumn-winte...,1.0,NaN,NaN,NaN,NaN
3,al-jazeera-english,Al Jazeera English,Al Jazeera,North Korean footballer Han joins Italian gian...,Han is the first North Korean player in the Se...,https://www.aljazeera.com/news/2019/09/north-k...,https://www.aljazeera.com/mritems/Images/2019/...,2019-09-03T17:25:39Z,"Han Kwang Song, the first North Korean footbal...",0.0,0.0,0.0,7.0,0.0
4,bbc-news,BBC News,BBC News,UK government lawyer says proroguing parliamen...,"The UK government's lawyer, David Johnston arg...",https://www.bbc.co.uk/news/av/uk-scotland-4956...,https://ichef.bbci.co.uk/news/1024/branded_new...,2019-09-03T14:39:21Z,NaN,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10432,abc-news,ABC News,The Associated Press,Drop in US service sector activity raises econ...,"Get breaking national and world news, broadcas...",https://abcnews.go.com/Business/wireStory/drop...,https://s.abcnews.com/images/US/WireAP_eb147c9...,2019-10-03T16:30:16Z,Growth in the U.S. economys vast services sect...,0.0,0.0,0.0,0.0,0.0
10433,reuters,Reuters,Sumeet Chatterjee,Banker defections pose challenge for Credit Su...,The announcement by Julius Baer this week that...,https://www.reuters.com/article/us-credit-suis...,https://s3.reutersmedia.net/resources/r/?m=02&...,2019-10-03T15:59:52Z,ZURICH/HONG KONG (Reuters) - The announcement ...,0.0,0.0,0.0,627.0,0.0
10434,cnn,CNN,"Lauren M. Johnson, CNN","A 5-year-old cancer survivor donates 3,000 toy...",Weston Newswanger is just a normal 5-year-old ...,https://www.cnn.com/2019/10/03/us/five-year-ol...,https://cdn.cnn.com/cnnnext/dam/assets/1910021...,2019-10-03T11:20:06Z,NaN,0.0,4072.0,179.0,466.0,0.0
10435,cbs-news,CBS News,CBS News,Fateful Connection,A detective is haunted by the case of two wome...,https://www.cbsnews.com/video/fateful-connecti...,https://cbsnews1.cbsistatic.com/hub/i/r/2019/1...,2019-10-03T16:40:03Z,NaN,0.0,0.0,0.0,0.0,0.0
10436,cbs-news,CBS News,CBS News,"Love, Hate & Obsession",Who wanted one-time millionaire Lanny Horwitz ...,https://www.cbsnews.com/video/love-hate-obsess...,https://cbsnews1.cbsistatic.com/hub/i/r/2017/0...,2019-10-03T16:35:13Z,NaN,0.0,0.0,0.0,0.0,0.0

In [142]:
df['reactions_count'] = df['engagement_reaction_count'] + df['engagement_comment_count'] + df['engagement_share_count']

## Les revues les plus likÃ©es, commentÃ©es, et partagÃ©es

In [143]:
#Afficher les revues les plus likÃ©es, commentÃ©es, et partagÃ©es
df.groupby(by=["source_name"]).sum('reactions_count').sort_values(by = ['reactions_count'], ascending = False)

,top_article,engagement_reaction_count,engagement_comment_count,engagement_share_count,engagement_comment_plugin_count,reactions_count
source_name,,,,,,
CNN,112.0,1218206.0,344894.0,327778.0,30.0,1890878.0
The New York Times,83.0,790449.0,216373.0,241740.0,0.0,1248562.0
BBC News,122.0,545396.0,207558.0,200636.0,0.0,953590.0
CBS News,139.0,459741.0,170960.0,108155.0,0.0,738856.0
Reuters,139.0,16963.0,7101.0,647095.0,0.0,671159.0
Business Insider,133.0,216545.0,101292.0,311678.0,80.0,629515.0
ABC News,132.0,343779.0,102708.0,82662.0,1.0,529149.0
Al Jazeera English,39.0,140410.0,46005.0,36031.0,9.0,222446.0
The Wall Street Journal,128.0,84124.0,40065.0,33173.0,0.0,157362.0
Newsweek,36.0,93167.0,32426.0,29067.0,0.0,154660.0
The Irish Times,129.0,26838.0,10514.0,6947.0,0.0,44299.0
460.0,0.0,0.0,0.0,0.0,0.0,0.0
ESPN,82.0,0.0,0.0,0.0,0.0,0.0

## Les  revues les moins likÃ©es, commentÃ©es, et partagÃ©es

In [144]:
#Afficher les  revues les moins likÃ©es, commentÃ©es, et partagÃ©es
df.groupby(by=["source_name"]).sum('reactions_count').sort_values(by = ['reactions_count'], ascending = True)

,top_article,engagement_reaction_count,engagement_comment_count,engagement_share_count,engagement_comment_plugin_count,reactions_count
source_name,,,,,,
460.0,0.0,0.0,0.0,0.0,0.0,0.0
ESPN,82.0,0.0,0.0,0.0,0.0,0.0
The Irish Times,129.0,26838.0,10514.0,6947.0,0.0,44299.0
Newsweek,36.0,93167.0,32426.0,29067.0,0.0,154660.0
The Wall Street Journal,128.0,84124.0,40065.0,33173.0,0.0,157362.0
Al Jazeera English,39.0,140410.0,46005.0,36031.0,9.0,222446.0
ABC News,132.0,343779.0,102708.0,82662.0,1.0,529149.0
Business Insider,133.0,216545.0,101292.0,311678.0,80.0,629515.0
Reuters,139.0,16963.0,7101.0,647095.0,0.0,671159.0
CBS News,139.0,459741.0,170960.0,108155.0,0.0,738856.0
BBC News,122.0,545396.0,207558.0,200636.0,0.0,953590.0
The New York Times,83.0,790449.0,216373.0,241740.0,0.0,1248562.0
CNN,112.0,1218206.0,344894.0,327778.0,30.0,1890878.0

## PrÃ©sentation graphique

In [145]:
tab1 = df.groupby(by=["source_name"]).sum('reactions_count').sort_values(by = ['reactions_count'], ascending = False).head(5)
tab2 = df.groupby(by=["source_name"]).sum('reactions_count').sort_values(by = ['reactions_count'], ascending = False)[5:]
autre = df['reactions_count'].sum()
valuesStat = list(tab1['reactions_count'])
valuesStat.append(autre)
labels = list(tab1.index)
labels.append('Autre')
explode = (0.2, 0, 0, 0, 0, 0)  # only "explode" the biggest and smaller revue
plt.title('Pourcentage de rÃ©actions pour les articles par revue', fontdict={'fontweight':'bold', 'fontsize':18}, y=-0.4)
plt.pie(valuesStat, labels=labels, autopct='%1.1f%%', shadow=True, explode=explode, radius=1.5)
plt.legend(labels, title="Revues", bbox_to_anchor=(1, 0, 1.5, 1))
plt.show()

ValueError: 'explode' must be of length 'x'